/* Global Variables */
$font-family : 'Montserrat', sans-serif;

/* Extra Varibales */
$w-25 : 25%;
$w-50 : 50%;
$w-75 : 75%;
$w-100 : 100%;
$display_none : none;
$woo-color : #000000;

/* Buttons Varibales */
$text-decoration : none;
$text-transform : uppercase;
$border-radius : 0px;
$font-size : 15px;
$font-weight : 700;
$padding : 12px 40px;
$border-color : #c23b3b;
$background-color : #c23b3b;
$color : #fff ;

/* Buttons Hover Varibales */
$border-color:#ad3232;
$background-color:#ad3232;
$color:#fff;

/* WooCommerce Top Message  */
$woo-message-border: #000000;
$woo-message-before-color: #000000;

/* Product Box Varibales */
$product-title-color : #000000;
$product-price-color : #000000;

/* Woo Cart Table Variables */
$woo-table-border-color : #000000;
$woo-table-heading-background-color : #000;
$woo-table-heading-color : #fff;
